$def with (title, attribute, attrs)
<div class="row">
  <h4 class="primary" id="title">$title</h4>
</div>

<div class="row">
  <nav aria-label="breadcrumb" style="margin-top: 16px;">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          $for attr in attrs:
              <li class="breadcrumb-item"><a href="/attributes/$attr['name']/">$attr['name'].replace('SAI_OBJECT_TYPE_','')</a></li>
      </ol>
    </nav>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <table class="table table-dark table-striped table-bordered" id="saiAttributesTable" style="width: 100%">
      <thead>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Flags</td>
        </tr>
      </thead>
      <tbody>
        $for attr in attribute['attributes']:
          <tr>
            <td>$attr['name']</td>
            <td>$attr['properties']['type']</td>
            <td>$' | '.join(attr['properties']['flags'])</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>